In [49]:
import pandas as pd
import requests
from sqlalchemy import create_engine, text , exc

*RETRIEVE ALL INDICATORS*

In [50]:

# Define the URL to fetch data from
url = "https://ghoapi.azureedge.net/api/Indicator"

# Make a GET request to the specified URL
r = requests.get(url)

# Convert the response to JSON format and access the 'value' key
indicators = r.json()['value']

# Create a pandas DataFrame from the obtained JSON data
indicators = pd.DataFrame(indicators)

# Print the DataFrame
print(indicators)

                            IndicatorCode  \
0                           AMRGLASS_QA02
1                                   anc45
2                                   BP_05
3                                   BP_06
4                        Camp_eval_impact
...                                   ...
2378                         RADON_Q401_1
2379                          E_compl_e11
2380        ORALHEALTH_DENOMINATOR_CHEPPP
2381      FINPROTECTION_CATA_CTPFHU_40_HH
2382  NCD_CXCA_SCREENED_WITHIN_TIMEPERIOD

                                          IndicatorName Language
0     EQA provided for bacterial identification and AST       EN
1     Antenatal care coverage - at least four visits...       EN
2         Mean systolic blood pressure (crude estimate)       EN
3     Mean systolic blood pressure (age-standardized...       EN
4     Outcome evaluation was employed to assess effe...       EN
...                                                 ...      ...
2378  Existence of national radon action plan - Year...       EN
2379  Compliance with ban on use of brand name of no...       EN
2380  Per capita current health expenditure in PPP (...       EN
2381  Households with out-of-pocket payments greater...       EN
2382  Prevalence of cervical cancer screening  among...       EN

[2383 rows x 3 columns]

*PRINT DATA WITH 'TRAFFIC'*

In [51]:
# Filter the DataFrame based on the 'IndicatorName' column containing the substring 'traffic'
filter_data = indicators[indicators['IndicatorName'].str.contains('traffic')]

# Print the filtered DataFrame
print(filter_data)

               IndicatorCode  \
350                   RS_196
351                   RS_208
428                   RS_246
587                   RS_198
987   SA_0000001696_ARCHIVED
1045           SA_0000001433
1079           SA_0000001696
1179  SA_0000001470_ARCHIVED
1181           SA_0000001459
1182  SA_0000001459_ARCHIVED
1188  SA_0000001742_ARCHIVED
1221           SA_0000001742
1259           SA_0000001452
1310           SA_0000001788
1311  SA_0000001788_ARCHIVED
1429           SA_0000001470
1430           SA_0000001471
1431  SA_0000001471_ARCHIVED
1565           SA_0000001826

                                          IndicatorName Language
350             Estimated number of road traffic deaths       EN
351   Attribution of road traffic deaths to alcohol (%)       EN
428   Distribution of road traffic deaths by type of...       EN
587   Estimated road traffic death rate (per 100 000...       EN
987   Alcohol-related road traffic crashes with fata...       EN
1045  Age-standardized DALYs, road traffic accidents...       EN
1079  Alcohol-related road traffic crashes with fata...       EN
1179  Alcohol-related road traffic crashes, per 100,...       EN
1181  Road traffic crash deaths, age-standardized de...       EN
1182  Road traffic crash deaths, age-standardized de...       EN
1188  Alcohol-attributable fractions (15+), road tra...       EN
1221  Alcohol-attributable fractions (15+), road tra...       EN
1259  Age-standardized death rates, road traffic acc...       EN
1310  Alcohol-related road traffic crashes with fata...       EN
1311  Alcohol-related road traffic crashes with fata...       EN
1429  Alcohol-related road traffic crashes, per 100,...       EN
1430  Alcohol-related road traffic crashes (% of all...       EN
1431  Alcohol-related road traffic crashes (% of all...       EN
1565  Regional prevalence, AAFs (15+), road traffic ...       EN

*RETRIEVE INDICATOR CODES*

In [52]:
Noma = str(indicators[indicators['IndicatorName'].str.contains('Noma')]['IndicatorCode']).split()[1]

urgent = str(indicators[indicators['IndicatorName'].str.contains('Urgent')]['IndicatorCode']).split()[1]

caries = str(indicators[indicators['IndicatorName'].str.contains('permanent teeth')]['IndicatorCode']).split()[1]

codes= [Noma , urgent , caries]

*RETRIEVE DATASETS*

In [53]:
# Iterate over each code in the 'codes' list
for i in codes:
    
    #retrieve the indicators using their IndicatorCode column
    url_data = f"https://ghoapi.azureedge.net/api/{i}"
    
    r = requests.get(url_data)

    # Check the current code and create a DataFrame accordingly
    if i == Noma:
        #access the 'value' key
        json_dataa = r.json()['value']
        data_Noma = pd.DataFrame(json_dataa)
    elif i == urgent:
        json_dataa = r.json()['value']
        data_urgent = pd.DataFrame(json_dataa)
    elif i == caries:
        json_dataa = r.json()['value']
        data_Caries = pd.DataFrame(json_dataa)

*REDUCING THE DIMENTIONALITY*

In [54]:
#select only the relevant and important columns from the df
#in this case we want the country name (spacialDim) and the tergeted value
data_Noma = data_Noma[['SpatialDim' , 'Value' ]]
data_urgent = data_urgent[['SpatialDim' , 'Value' ]]
data_Caries = data_Caries[['SpatialDim' , 'Value' ]]

*MERGE DATASETS*

In [55]:
#merge data_Noma and data_urgent using outer join on 'SpatialDim' which is the country name
#then save the merged df into a new one (OralHeakth)
#then merge the new OralHeakth df with the data_Caries df
OralHealth = pd.merge(data_Noma, data_urgent, on='SpatialDim', how='outer')
OralHealth = pd.merge(OralHealth, data_Caries, on='SpatialDim', how='outer')

OralHealth

    SpatialDim Value_x      Value_y Value
0          BRN      No    Available  28.7
1          BGR      No    Available  38.2
2          BFA     Yes  Unavailable  27.5
3          BDI      No  Unavailable  31.7
4          CPV      No  Unavailable  30.1
..         ...     ...          ...   ...
189        LKA      No    Available  27.4
190        SDN      No    Available  35.5
191        SUR      No    Available  21.9
192        SWE      No    Available  36.1
193        CHE      No    Available  40.3

[194 rows x 4 columns]

*CHANGING COLUMN NAMES*

In [56]:
#change the name of each column into an understandable name
OralHealth.columns = ['country', 'Noma recognition', 'Urgent treatment', 'Prevalence of untreated caries']

OralHealth

    country Noma recognition Urgent treatment Prevalence of untreated caries
0       BRN               No        Available                           28.7
1       BGR               No        Available                           38.2
2       BFA              Yes      Unavailable                           27.5
3       BDI               No      Unavailable                           31.7
4       CPV               No      Unavailable                           30.1
..      ...              ...              ...                            ...
189     LKA               No        Available                           27.4
190     SDN               No        Available                           35.5
191     SUR               No        Available                           21.9
192     SWE               No        Available                           36.1
193     CHE               No        Available                           40.3

[194 rows x 4 columns]

*FILLING NULL VALUES*

In [57]:
#fill the null values from the Urgent treatment column with 'Not Mentioned'
OralHealth = OralHealth.fillna('Not Mentioned')

OralHealth

    country Noma recognition Urgent treatment Prevalence of untreated caries
0       BRN               No        Available                           28.7
1       BGR               No        Available                           38.2
2       BFA              Yes      Unavailable                           27.5
3       BDI               No      Unavailable                           31.7
4       CPV               No      Unavailable                           30.1
..      ...              ...              ...                            ...
189     LKA               No        Available                           27.4
190     SDN               No        Available                           35.5
191     SUR               No        Available                           21.9
192     SWE               No        Available                           36.1
193     CHE               No        Available                           40.3

[194 rows x 4 columns]

*ADDING A NEW COLUMN (GOOD ORAL CARE)*

In [58]:
#create a new column with the name Good Oral Care and fill it with 'No'
#check if 'Noma recognition'='Yes' , if 'Urgent treatment'='Available' and if 'Prevalence of untreated caries' is <=30
#if it satisfies two of them , change the value of 'Good Oral Care' on that row to 'Yes'
OralHealth['Good Oral Care'] = 'No'
for index, row in OralHealth.iterrows():
    if row['Noma recognition']=='Yes' and row['Urgent treatment'] == 'Available':
        OralHealth.at[index, 'Good Oral Care'] = 'Yes'
    elif row['Noma recognition']=='Yes' and float(row['Prevalence of untreated caries']) <=30:
        OralHealth.at[index, 'Good Oral Care'] = 'Yes'
    elif row['Urgent treatment']=='Available' and float(row['Prevalence of untreated caries']) <=30:
        OralHealth.at[index, 'Good Oral Care'] = 'Yes'
OralHealth

,country,Noma recognition,Urgent treatment,Prevalence of untreated caries,Good Oral Care
0,BRN,No,Available,28.7,Yes
1,BGR,No,Available,38.2,No
2,BFA,Yes,Unavailable,27.5,Yes
3,BDI,No,Unavailable,31.7,No
4,CPV,No,Unavailable,30.1,No
...,...,...,...,...,...
189,LKA,No,Available,27.4,Yes
190,SDN,No,Available,35.5,No
191,SUR,No,Available,21.9,Yes
192,SWE,No,Available,36.1,No
193,CHE,No,Available,40.3,No

*CONNECT TO MYSQL*

In [59]:
# Define the MySQL database URL
database_url = "mysql+mysqlconnector://root:password@localhost:3306"

# Create an SQLAlchemy engine 
engine = create_engine(database_url)

# Establish a connection to the MySQL database
connection = engine.connect()

*CREATE A DATABASE*

In [60]:
try:
    # Define the SQL query to create the database
    create_database_query = text("CREATE DATABASE Oral_health_database")

    # Execute the SQL query to create the database using the established connection
    connection.execute(create_database_query)

    # Print a success message if the database creation is successful
    print("Database 'oral_health_database' created successfully.")

except exc.SQLAlchemyError:
    # Print a message if the database already exists or if there is any SQLAlchemyError
    print('Database "Oral_health_database" already exists or an error occurred during creation.')

Database 'oral_health_database' created successfully.

*UPLOAD THE DATASET TO THE DATABASE*

In [61]:
try:
    # Create an SQLAlchemy engine for the "Oral" database
    engine = create_engine("mysql+mysqlconnector://root:password@localhost:3306/oral_health_database")

    # Write the  DataFrame to the 'Oral' table in the "Oral" database
    OralHealth.to_sql('oral_health_table', con=engine, if_exists='replace', index=False)

except exc.SQLAlchemyError:
    # Print a message if an SQLAlchemy error occurs during the process
    print('An error occurred or the table already exists.')

finally:
    # Close the database connection, regardless of success or failure
    connection.close()

*APPLY A SELECT QUERY*

In [62]:
engine = create_engine("mysql+mysqlconnector://root:password@localhost:3306/oral_health_database")

# Establish a connection to the  database
connection = engine.connect()

# Define the SELECT query to retrieve all data from the "Oral" table
select_query = text("SELECT * FROM oral_health_table")

# Execute the SELECT query
result = connection.execute(select_query)

rows = result.fetchall()
print(rows)
connection.close()

[('BRN', 'No', 'Available', '28.7', 'Yes'), ('BGR', 'No', 'Available', '38.2', 'No'), ('BFA', 'Yes', 'Unavailable', '27.5', 'Yes'), ('BDI', 'No', 'Unavailable', '31.7', 'No'), ('CPV', 'No', 'Unavailable', '30.1', 'No'), ('BRA', 'No', 'Available', '25.9', 'Yes'), ('BWA', 'No', 'Unavailable', '32.7', 'No'), ('BIH', 'No', 'Available', '36.6', 'No'), ('BOL', 'No', 'Available', '39.2', 'No'), ('BTN', 'No', 'Available', '29.7', 'Yes'), ('BEN', 'Yes', 'Available', '29.5', 'Yes'), ('BLZ', 'No', 'Available', '30.0', 'Yes'), ('BEL', 'No', 'Not Mentioned', '27.4', 'No'), ('BLR', 'No', 'Available', '37.5', 'No'), ('BRB', 'No', 'Unavailable', '28.4', 'No'), ('BGD', 'No', 'Available', '30.4', 'No'), ('BHR', 'No', 'Available', '34.3', 'No'), ('BHS', 'No', 'Unavailable', '28.7', 'No'), ('AZE', 'No', 'Available', '33.4', 'No'), ('AUT', 'No', 'Available', '29.9', 'Yes'), ('AUS', 'No', 'Available', '29.5', 'Yes'), ('ARM', 'No', 'Available', '33.3', 'No'), ('ARG', 'No', 'Available', '36.9', 'No'), ('ATG', 'No', 'Available', '28.7', 'Yes'), ('AGO', 'No', 'Unavailable', '27.2', 'No'), ('AND', 'No', 'Available', '32.9', 'No'), ('DZA', 'No', 'Available', '35.4', 'No'), ('ALB', 'No', 'Not Mentioned', '39.8', 'No'), ('AFG', 'No', 'Available', '36.8', 'No'), ('KHM', 'No', 'Available', '31.4', 'No'), ('CMR', 'No', 'Available', '29.9', 'Yes'), ('CAN', 'No', 'Available', '25.1', 'Yes'), ('CAF', 'No', 'Available', '30.7', 'No'), ('TCD', 'No', 'Not Mentioned', '29.1', 'No'), ('CHL', 'No', 'Available', '49.5', 'No'), ('SLV', 'No', 'Available', '30.6', 'No'), ('DJI', 'No', 'Available', '31.1', 'No'), ('DMA', 'No', 'Available', '29.3', 'Yes'), ('DOM', 'No', 'Available', '29.4', 'Yes'), ('ECU', 'No', 'Available', '38.7', 'No'), ('EGY', 'No', 'Not Mentioned', '30.4', 'No'), ('CRI', 'No', 'Available', '30.0', 'Yes'), ('CIV', 'Yes', 'Unavailable', '29.7', 'Yes'), ('HRV', 'No', 'Available', '40.7', 'No'), ('CUB', 'No', 'Available', '33.4', 'No'), ('GNQ', 'No', 'Available', '26.7', 'Yes'), ('ERI', 'No', 'Available', '35.6', 'No'), ('EST', 'No', 'Available', '31.6', 'No'), ('SWZ', 'No', 'Available', '39.6', 'No'), ('ETH', 'No', 'Available', '27.5', 'Yes'), ('CHN', 'No', 'Unavailable', '24.6', 'No'), ('COL', 'No', 'Available', '44.2', 'No'), ('COM', 'No', 'Available', '32.3', 'No'), ('COG', 'No', 'Available', '28.8', 'Yes'), ('COK', 'No', 'Available', '33.4', 'No'), ('CYP', 'No', 'Available', '33.8', 'No'), ('CZE', 'No', 'Available', '37.3', 'No'), ('PRK', 'No', 'Available', '26.2', 'Yes'), ('COD', 'Yes', 'Available', '30.2', 'Yes'), ('DNK', 'No', 'Available', '24.6', 'Yes'), ('FJI', 'No', 'Available', '35.2', 'No'), ('GTM', 'No', 'Available', '30.8', 'No'), ('GIN', 'No', 'Available', '29.9', 'Yes'), ('DEU', 'No', 'Available', '31.7', 'No'), ('GHA', 'No', 'Available', '25.3', 'Yes'), ('GRC', 'No', 'Available', '37.4', 'No'), ('GRD', 'No', 'Unavailable', '29.3', 'No'), ('FIN', 'No', 'Available', '29.7', 'Yes'), ('FRA', 'No', 'Available', '36.8', 'No'), ('GAB', 'No', 'Available', '28.1', 'Yes'), ('GMB', 'No', 'Available', '30.7', 'No'), ('GEO', 'No', 'Available', '34.9', 'No'), ('GNB', 'Yes', 'Not Mentioned', '34.7', 'No'), ('GUY', 'No', 'Unavailable', '30.3', 'No'), ('HTI', 'No', 'Unavailable', '32.1', 'No'), ('HND', 'No', 'Unavailable', '31.1', 'No'), ('HUN', 'No', 'Available', '37.9', 'No'), ('ISL', 'No', 'Not Mentioned', '40.5', 'No'), ('IND', 'No', 'Available', '28.8', 'Yes'), ('IDN', 'No', 'Available', '28.8', 'Yes'), ('IRN', 'No', 'Available', '33.6', 'No'), ('IRQ', 'No', 'Available', '35.1', 'No'), ('IRL', 'No', 'Available', '31.6', 'No'), ('JAM', 'No', 'Available', '30.1', 'No'), ('JPN', 'No', 'Available', '25.8', 'Yes'), ('JOR', 'No', 'Available', '38.5', 'No'), ('KAZ', 'No', 'Available', '31.2', 'No'), ('ISR', 'No', 'Available', '35.1', 'No'), ('ITA', 'No', 'Available', '29.6', 'Yes'), ('MRT', 'No', 'Available', '29.7', 'Yes'), ('MNE', 'No', 'Available', '38.8', 'No'), ('MUS', 'No', 'Unavailable', '26.8', 'No'), ('MEX', 'No', 'Not Mentioned', '23.6', 'No'), ('LBR', 'No', 'Available', '32.0', 'No'), ('LBY', 'No', 'Available', '36.0', 'No'), ('LTU', 'No', 'Available', '37.3', 'No'), ('LUX', 'No', 'Available', '32.5', 'No'), ('MDG', 'No', 'Available', '37.2', 'No'), ('MWI', 'No', 'Available', '31.4', 'No'), ('MYS', 'No', 'Available', '22.8', 'Yes'), ('MDV', 'No', 'Available', '28.0', 'Yes'), ('FSM', 'No', 'Available', '36.4', 'No'), ('KEN', 'No', 'Unavailable', '24.0', 'No'), ('KIR', 'No', 'Available', '36.8', 'No'), ('KWT', 'No', 'Available', '33.6', 'No'), ('MLI', 'Yes', 'Unavailable', '29.7', 'Yes'), ('MLT', 'No', 'Unavailable', '33.6', 'No'), ('MHL', 'No', 'Available', '35.9', 'No'), ('MCO', 'No', 'Not Mentioned', '29.8', 'No'), ('MNG', 'No', 'Unavailable', '33.3', 'No'), ('KGZ', 'No', 'Not Mentioned', '35.0', 'No'), ('LAO', 'No', 'Unavailable', '28.4', 'No'), ('LVA', 'No', 'Unavailable', '35.7', 'No'), ('LBN', 'No', 'Available', '34.9', 'No'), ('LSO', 'No', 'Not Mentioned', '34.3', 'No'), ('MAR', 'No', 'Available', '36.0', 'No'), ('MOZ', 'No', 'Available', '33.4', 'No'), ('MMR', 'No', 'Unavailable', '22.8', 'No'), ('NAM', 'No', 'Available', '32.1', 'No'), ('NRU', 'No', 'Available', '34.3', 'No'), ('NPL', 'No', 'Unavailable', '31.5', 'No'), ('NLD', 'No', 'Available', '29.2', 'Yes'), ('NZL', 'No', 'Unavailable', '26.4', 'No'), ('NIC', 'No', 'Available', '31.1', 'No'), ('KOR', 'No', 'Not Mentioned', '29.3', 'No'), ('MDA', 'No', 'Available', '39.4', 'No'), ('ROU', 'No', 'Unavailable', '41.3', 'No'), ('RUS', 'No', 'Available', '32.9', 'No'), ('RWA', 'No', 'Available', '31.4', 'No'), ('KNA', 'No', 'Available', '28.6', 'Yes'), ('LCA', 'No', 'Available', '29.6', 'Yes'), ('VCT', 'No', 'Available', '35.7', 'No'), ('WSM', 'No', 'Available', '34.9', 'No'), ('NER', 'Yes', 'Available', '29.2', 'Yes'), ('NGA', 'Yes', 'Unavailable', '23.9', 'Yes'), ('NIU', 'No', 'Available', '34.8', 'No'), ('MKD', 'No', 'Available', '39.7', 'No'), ('NOR', 'No', 'Available', '35.1', 'No'), ('OMN', 'No', 'Available', '34.3', 'No'), ('PAK', 'No', 'Available', '27.0', 'Yes'), ('PLW', 'No', 'Available', '34.9', 'No'), ('PAN', 'No', 'Available', '32.7', 'No'), ('PNG', 'No', 'Available', '35.9', 'No'), ('PRY', 'No', 'Unavailable', '26.7', 'No'), ('PER', 'No', 'Available', '38.2', 'No'), ('PHL', 'No', 'Available', '29.4', 'Yes'), ('POL', 'No', 'Available', '29.8', 'Yes'), ('PRT', 'No', 'Available', '27.5', 'Yes'), ('QAT', 'No', 'Available', '33.6', 'No'), ('SMR', 'No', 'Unavailable', '32.5', 'No'), ('STP', 'No', 'Available', '30.1', 'No'), ('SAU', 'No', 'Available', '38.8', 'No'), ('SEN', 'Yes', 'Available', '38.5', 'Yes'), ('SRB', 'No', 'Not Mentioned', '41.1', 'No'), ('SYC', 'No', 'Available', '26.4', 'Yes'), ('SLE', 'No', 'Available', '32.6', 'No'), ('SGP', 'No', 'Available', '28.5', 'Yes'), ('SVK', 'No', 'Not Mentioned', '38.0', 'No'), ('SVN', 'No', 'Available', '34.7', 'No'), ('SLB', 'No', 'Available', '36.2', 'No'), ('SYR', 'No', 'Available', '36.9', 'No'), ('TJK', 'No', 'Unavailable', '35.0', 'No'), ('THA', 'No', 'Available', '27.0', 'Yes'), ('TON', 'No', 'Available', '35.2', 'No'), ('TTO', 'No', 'Available', '28.2', 'Yes'), ('TUN', 'No', 'Available', '34.8', 'No'), ('SOM', 'No', 'Unavailable', '33.7', 'No'), ('ZAF', 'No', 'Available', '27.9', 'Yes'), ('SSD', 'No', 'Unavailable', '28.4', 'No'), ('ESP', 'No', 'Available', '34.0', 'No'), ('TLS', 'No', 'Available', '35.5', 'No'), ('TGO', 'Yes', 'Available', '31.0', 'Yes'), ('TUR', 'No', 'Available', '38.6', 'No'), ('TKM', 'No', 'Available', '32.6', 'No'), ('TUV', 'No', 'Available', '36.2', 'No'), ('UGA', 'No', 'Unavailable', '24.9', 'No'), ('UKR', 'No', 'Not Mentioned', '32.4', 'No'), ('ARE', 'No', 'Available', '33.8', 'No'), ('VUT', 'No', 'Unavailable', '35.8', 'No'), ('VEN', 'No', 'Available', '30.3', 'No'), ('VNM', 'No', 'Not Mentioned', '28.0', 'No'), ('GBR', 'No', 'Available', '30.6', 'No'), ('TZA', 'No', 'Available', '32.7', 'No'), ('YEM', 'No', 'Not Mentioned', '36.8', 'No'), ('ZMB', 'No', 'Unavailable', '28.0', 'No'), ('ZWE', 'No', 'Available', '28.1', 'Yes'), ('USA', 'No', 'Not Mentioned', '24.3', 'No'), ('URY', 'No', 'Available', '37.6', 'No'), ('UZB', 'No', 'Available', '34.1', 'No'), ('LKA', 'No', 'Available', '27.4', 'Yes'), ('SDN', 'No', 'Available', '35.5', 'No'), ('SUR', 'No', 'Available', '21.9', 'Yes'), ('SWE', 'No', 'Available', '36.1', 'No'), ('CHE', 'No', 'Available', '40.3', 'No')]

*APPLY A FILTER QUERY*

In [63]:
engine = create_engine("mysql+mysqlconnector://root:password@localhost:3306/oral_health_database")

connection = engine.connect()

# retrive all the records wher Good Oral Care is Yes
filter_query = text("SELECT * FROM oral_health_table WHERE `Good Oral Care` = 'Yes'")

result = connection.execute(filter_query)

rows = result.fetchall()
print(rows)
connection.close()

[('BRN', 'No', 'Available', '28.7', 'Yes'), ('BFA', 'Yes', 'Unavailable', '27.5', 'Yes'), ('BRA', 'No', 'Available', '25.9', 'Yes'), ('BTN', 'No', 'Available', '29.7', 'Yes'), ('BEN', 'Yes', 'Available', '29.5', 'Yes'), ('BLZ', 'No', 'Available', '30.0', 'Yes'), ('AUT', 'No', 'Available', '29.9', 'Yes'), ('AUS', 'No', 'Available', '29.5', 'Yes'), ('ATG', 'No', 'Available', '28.7', 'Yes'), ('CMR', 'No', 'Available', '29.9', 'Yes'), ('CAN', 'No', 'Available', '25.1', 'Yes'), ('DMA', 'No', 'Available', '29.3', 'Yes'), ('DOM', 'No', 'Available', '29.4', 'Yes'), ('CRI', 'No', 'Available', '30.0', 'Yes'), ('CIV', 'Yes', 'Unavailable', '29.7', 'Yes'), ('GNQ', 'No', 'Available', '26.7', 'Yes'), ('ETH', 'No', 'Available', '27.5', 'Yes'), ('COG', 'No', 'Available', '28.8', 'Yes'), ('PRK', 'No', 'Available', '26.2', 'Yes'), ('COD', 'Yes', 'Available', '30.2', 'Yes'), ('DNK', 'No', 'Available', '24.6', 'Yes'), ('GIN', 'No', 'Available', '29.9', 'Yes'), ('GHA', 'No', 'Available', '25.3', 'Yes'), ('FIN', 'No', 'Available', '29.7', 'Yes'), ('GAB', 'No', 'Available', '28.1', 'Yes'), ('IND', 'No', 'Available', '28.8', 'Yes'), ('IDN', 'No', 'Available', '28.8', 'Yes'), ('JPN', 'No', 'Available', '25.8', 'Yes'), ('ITA', 'No', 'Available', '29.6', 'Yes'), ('MRT', 'No', 'Available', '29.7', 'Yes'), ('MYS', 'No', 'Available', '22.8', 'Yes'), ('MDV', 'No', 'Available', '28.0', 'Yes'), ('MLI', 'Yes', 'Unavailable', '29.7', 'Yes'), ('NLD', 'No', 'Available', '29.2', 'Yes'), ('KNA', 'No', 'Available', '28.6', 'Yes'), ('LCA', 'No', 'Available', '29.6', 'Yes'), ('NER', 'Yes', 'Available', '29.2', 'Yes'), ('NGA', 'Yes', 'Unavailable', '23.9', 'Yes'), ('PAK', 'No', 'Available', '27.0', 'Yes'), ('PHL', 'No', 'Available', '29.4', 'Yes'), ('POL', 'No', 'Available', '29.8', 'Yes'), ('PRT', 'No', 'Available', '27.5', 'Yes'), ('SEN', 'Yes', 'Available', '38.5', 'Yes'), ('SYC', 'No', 'Available', '26.4', 'Yes'), ('SGP', 'No', 'Available', '28.5', 'Yes'), ('THA', 'No', 'Available', '27.0', 'Yes'), ('TTO', 'No', 'Available', '28.2', 'Yes'), ('ZAF', 'No', 'Available', '27.9', 'Yes'), ('TGO', 'Yes', 'Available', '31.0', 'Yes'), ('ZWE', 'No', 'Available', '28.1', 'Yes'), ('LKA', 'No', 'Available', '27.4', 'Yes'), ('SUR', 'No', 'Available', '21.9', 'Yes')]

*APPLY AN AGGREGATION QUERY*

In [64]:
engine = create_engine("mysql+mysqlconnector://root:password@localhost:3306/oral_health_database")

# create a connection to the database
connection = engine.connect()

# retreive the number of records where 'Good Oral Care' is 'Yes'
count_query = text("SELECT COUNT(*) FROM oral_health_table WHERE `Good Oral Care` = 'Yes'")

# we use scalar() to return the value of the first column of the first row
result = connection.execute(count_query).scalar()

# Print the number of records where 'Good Oral Care' is 'Yes'
print(f"Number of records where 'Good Oral Care' is 'Yes': {result}")

connection.close()

Number of records where 'Good Oral Care' is 'Yes': 52